<div class="container" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center center"
  *ngIf="roles.SuperAdmin || roles.GroupAdmin">
  <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(33%-10px)">
    <mat-card-header>
      <mat-toolbar>
        <span class="toolbar-title">Global User List</span>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let user of users; let index = index" (click)="markUser(user.username, index, user._id)"
          [class.active]="selectedUserIndex === index">
          <div matLine>
            <img src="images\{{user.avatar}}">
            {{user.username}}
          </div>
          <button mat-icon-button matTooltip="Add {{user.username}}"
            (click)="addMember(user.username, index, user._id)">
            <mat-icon mat-list-icon>person_add</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <mat-card-subtitle>Total: {{users.length}}</mat-card-subtitle>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(33%-10px)">
    <mat-card-header>
      <mat-toolbar>
        <span class="toolbar-title">My Groups</span>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let group of adminGroups; let index = index"
          (click)="markGroup(group.name, index, group._id, group.members, group.channels)"
          [class.active]="selectedGroupIndex === index">
          <span matLine>{{group.name}}</span>
          <button mat-icon-button matTooltip="Configure Channels"
            (click)="channelConfiguration(group._id, group.name, group.channels)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Delete {{group.name}}" (click)="deleteGroup(group.name, group._id)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <form [formGroup]="groupForm" (submit)="createGroup()">
        <mat-form-field appearance="outline">
          <mat-label>New Group</mat-label>
          <input matInput type="text" formControlName="newGroupName" name="newGroupName" placeholder="Create Group"
            required>
          <mat-icon matSuffix>group</mat-icon>
          <mat-error *ngIf="newGroupName.invalid && newGroupName.errors.maxlength">20 Characters Max</mat-error>
        </mat-form-field>
      </form>
      <div fxFlex></div>
      <mat-card-subtitle>Total: {{adminGroups.length}}</mat-card-subtitle>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="members.length != 0" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
    fxFlex.gt-md="0 1 calc(33%-10px)">
    <mat-card-header>
      <mat-toolbar>
        <span class="toolbar-title">{{selectedGroup}} Members</span>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let member of members; let index = index"
          (click)="markMember(member.username, index, member._id)" [class.active]="selectedMemberIndex === index">
          <span matLine>{{member.username}}</span>
          <button mat-icon-button matTooltip="Remove {{member.username}}"
            (click)="removeMember(member.username, index, member._id)">
            <mat-icon>remove</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <mat-card-subtitle>Total: {{members.length}}</mat-card-subtitle>
    </mat-card-actions>
  </mat-card>
</div>
