.mat-list-item.active {
  background-color: #673ab7;
  color: #fff;
}

.mat-list-item {
  color: gray;
}

.mat-list-item:hover {
  color: black;
}

.mat-list-item.active:hover {
  color: white;
}

.alert-primary>div:after {
  clear: both;
  content: '';
  display: table;
}

.create_form {
  align-items: center;
}

.toolbar-title {
  margin: 0 auto;
}

img {
  width: 20px;
  border-radius: 50%;
}

/*:host ::ng-deep .mat-list-item-content {
  padding: 0px !important;
}*/

.container {
  height: 90vh;
}

.mat-card {
  height: 80vh !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}

.mat-card-content {
  max-height: 70%;
  overflow: auto;
  flex-grow: 1;
}
