<div class="flex">
  <div class="data">
    <mat-icon>{{data.type}}</mat-icon>
    {{data.message}}
  </div>
  <div class="dismiss">
    <button mat-icon-button (click)="onDismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
