<mat-toolbar color="primary" class="flexSpaceBetween">
  <span>
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon matTooltip="Toggle Side Panel">
        {{__SidenavService.opened ? 'arrow_back' : 'arrow_forward'}}
      </mat-icon>
    </button>
  </span>
  <span class="spacer"></span>
  <span *ngIf="__AuthService.isAuthenticated()">
    <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
      <mat-icon>account_circle</mat-icon>
      {{__AuthService.getUserDetails('username')}}
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-button matTooltip="Account" [routerLink]="'manage-account'">
          <mat-icon>person</mat-icon>
          Account
        </button>
        <mat-divider></mat-divider>
        <button mat-button matTooltip="Log Out" (click)="__AuthService.logOut()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </span>
    </mat-menu>
  </span>
</mat-toolbar>
