.container {
  height: 90vh;
}

.mat-list-item {
  color: gray;
  cursor: pointer;
}

.mat-list-item:hover {
  color: black;
}

.mat-list-item.active:hover {
  color: white;
}

.mat-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
}
