<div class="container" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card [hidden]="newUser" fxLayout="row wrap" fxLayoutAlign="center" fxFlex.md="0 1 calc(50%-10px)"
    fxFlex.gt-md="0 1 calc(40%-10px)">
    <form [formGroup]="authForm" (submit)="login()">
      <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
        <mat-card-subtitle>Existing Account</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <mat-form-field mat-line fxFlex="70">
              <input matInput type="text" formControlName="username" name="username" placeholder="Username" required>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>security</mat-icon>
            <mat-form-field mat-line fxFlex="70">
              <input matInput type="password" formControlName="password" name="password" placeholder="Password"
                required>
              <mat-error *ngIf="password.invalid && password.errors.minlength">6 Characters Minimum</mat-error>
            </mat-form-field>
          </mat-list-item>
        </mat-list>
        <mat-error style="text-align: center;" *ngIf="error">{{error}}</mat-error>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button type="button" (click)="newUser = !newUser">
          <mat-icon mat-list-icon>fiber_new </mat-icon>
          Register
        </button>
        <div fxFlex></div>
        <button mat-raised-button color="primary" type="submit" [disabled]="authForm.invalid">
          <mat-icon mat-list-icon>check_circle</mat-icon>
          Sign in
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
  <mat-card [hidden]="!newUser" fxLayout="row wrap" fxLayoutAlign="center" fxFlex.md="0 1 calc(50%-10px)"
    fxFlex.gt-md="0 1 calc(40%-10px)">
    <form [formGroup]="registerForm" (submit)="registerUser()">
      <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
        <mat-card-subtitle>Create a new account</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!--User Enters Username-->
        <mat-list>
          <label mat-subheader>Details</label>
          <mat-list-item>
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <mat-form-field mat-line fxFlex="70">
              <input matInput type="text" formControlName="newusername" name="newusername" placeholder="Username"
                required>
            </mat-form-field>
          </mat-list-item>
          <!--User Enters Email-->
          <mat-list-item>
            <mat-icon mat-list-icon>alternate_email</mat-icon>
            <mat-form-field mat-line fxFlex="70">
              <input matInput formControlName="email" name="email" placeholder="Email" required>
              <mat-error *ngIf="email.invalid && email.errors.email">Invalid email address</mat-error>
            </mat-form-field>
          </mat-list-item>
          <!--User Enters Password-->
          <mat-list-item>
            <mat-icon mat-list-icon>security</mat-icon>
            <mat-form-field mat-line fxFlex="70">
              <input matInput type="password" formControlName="newpassword" name="newpassword" placeholder="Password"
                required>
              <mat-error *ngIf="password.invalid && password.errors.minlength">Password must be at least 6
                characters</mat-error>
            </mat-form-field>
          </mat-list-item>
          <!--User Confirms Password-->
          <mat-list-item>
            <mat-icon mat-list-icon>verified_user</mat-icon>
            <mat-form-field mat-line fxFlex="70">
              <input matInput type="password" formControlName="confirm" name="confirm" placeholder="Confirm Password"
                required>
              <mat-error *ngIf="confirm.invalid && confirm.errors.passwordMatch">Password mismatch</mat-error>
            </mat-form-field>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <!--Register User Button-->
      <mat-card-actions align="end">
        <button mat-raised-button type="button" (click)="newUser = !newUser">
          <mat-icon mat-list-icon>check_circle</mat-icon>
          Sign In
        </button>
        <div fxFlex></div>
        <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">
          <mat-icon>fiber_new</mat-icon>
          Register
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
