<h1 mat-dialog-title>
  <span>
    <mat-icon>warning</mat-icon>
    Confirm Action
  </span>
</h1>

<div mat-dialog-content>
  <p>{{data.message}}</p>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onDismiss()">No</button>
  <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
</div>
