<div class="container" fxLayout.xs="column" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
  <!--Card for User Creation-->
  <mat-card class="registration_card" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
    fxFlex.gt-md="0 1 calc(35%-10px)" *ngIf="roles.SuperAdmin || roles.GroupAdmin">
    <form [formGroup]="registerForm" (submit)="registerUser()">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
        <mat-card-subtitle>Create a new account</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!--User Enters Username-->
        <mat-list>
          <label mat-subheader>Details</label>
          <mat-list-item>
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <mat-form-field>
              <input matInput type="text" formControlName="username" name="username" placeholder="Username" required>
              <mat-error *ngIf="username.invalid && username.errors.maxlength">20 Characters Maxiumum</mat-error>
            </mat-form-field>
          </mat-list-item>
          <!--User Enters Email-->
          <mat-list-item>
            <mat-icon mat-list-icon>alternate_email</mat-icon>
            <mat-form-field>
              <input matInput formControlName="email" name="email" placeholder="Email" required>
              <mat-error *ngIf="email.invalid && email.errors.email">Invalid email address</mat-error>
            </mat-form-field>
          </mat-list-item>
          <!--User Enters Password-->
          <mat-list-item>
            <mat-icon mat-list-icon>security</mat-icon>
            <mat-form-field>
              <input matInput type="password" formControlName="password" name="password" placeholder="Password"
                required>
              <mat-error *ngIf="password.invalid && password.errors.minlength">Password must be at least 6
                characters</mat-error>
            </mat-form-field>
          </mat-list-item>
          <!--User Confirms Password-->
          <mat-list-item>
            <mat-icon mat-list-icon>verified_user</mat-icon>
            <mat-form-field>
              <input matInput type="password" formControlName="confirm" name="confirm" placeholder="Confirm Password"
                required>
              <mat-error *ngIf="confirm.invalid && confirm.errors.passwordMatch">Password mismatch</mat-error>
            </mat-form-field>
          </mat-list-item>
        </mat-list>
        <!--User Checks which roles are assigned -->
        <div *ngIf="roles.SuperAdmin">
          <label>Roles</label>
          <div class="form-group-roles" formGroupName="roles">
            <mat-checkbox formControlName="SuperAdmin" color="primary">Super Admin</mat-checkbox>
            <mat-checkbox formControlName="GroupAdmin" color="primary">Group Admin</mat-checkbox>
          </div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
      <!--Register User Button-->
      <mat-card-actions align="end">
        <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">
          <mat-icon>done</mat-icon>
          Register
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
  <!--Global User List Card-->
  <mat-card class="useradmin_card" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
    fxFlex.gt-md="0 1 calc(35%-10px)" *ngIf="roles.SuperAdmin">
    <mat-card-header>
      <mat-card-title>Global User List</mat-card-title>
      <mat-card-subtitle>User Administration</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let user of users; let index = index" (click)="markUser(user.username, index, user._id)"
          [class.active]="selectedUserIndex === index">
          <div matLine>
            <img matListAvatar src="images\{{user.avatar}}">
            {{user.username}}
          </div>
          <button mat-icon-button matTooltip="Delete {{user.username}}"
            (click)="deleteUser(user.username, index, user._id)">
            <mat-icon mat-list-icon>delete</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
