.mat-list-item.active {
  background-color: #673ab7;
  color: #fff;
}

.mat-list-item {
  color: gray;
}

.mat-list-item:hover {
  color: black;
}

.mat-list-item.active:hover {
  color: white;
}

.toolbar-title {
  margin: 0 auto;
}

.alert-primary>div:after {
  clear: both;
  content: '';
  display: table;
}

:host ::ng-deep .mat-list-item-content {
  padding: 0px !important;
}

.container {
  height: 90vh;
}

.mat-card {
  height: 80vh !important;
  overflow: hidden;
}

.useradmin_card .mat-card-content {
  max-height: 90%;
  overflow: auto;
  overflow-x: hidden;
}

.registration_card .mat-card-content {
  max-height: 70%;
  overflow: auto;
  overflow-x: hidden;
}

.form-group-roles {
  display: flex;
  justify-content: space-evenly;
}
