<h1 mat-dialog-title>
  <mat-toolbar color="primary">
    <span class="toolbar-title">Channel Configuration</span>
  </mat-toolbar>
</h1>

<div mat-dialog-content>
  <mat-list *ngIf="data.channels.length != 0">
    <mat-list-item *ngFor="let channel of data.channels; index as index"
      (click)="markChannel(channel.name, index, channel._id)" [class.active]="selectedChannelIndex === index">
      <span matLine>{{channel.name}}</span>
      <button mat-icon-button>
        <mat-icon matTooltip="Delete {{channel.name}}" (click)="deleteChannel(channel.name, index, channel._id)">
          delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

<div mat-dialog-actions align="end">
  <form [formGroup]="channelForm" (submit)="createChannel()">
    <mat-form-field appearance="outline">
      <mat-label>New Channel</mat-label>
      <input matInput type="text" formControlName="newChannelName" name="newChannelName" placeholder="Create Channel"
        required>
      <mat-error *ngIf="newChannelName.invalid && newChannelName.errors.maxlength">20 Characters Max</mat-error>
      <mat-icon matSuffix>message</mat-icon>
    </mat-form-field>
  </form>
  <div fxFlex></div>
  <button mat-raised-button color="primary" (click)="onDismiss()">Close</button>
</div>
