.mat-list-item.active {
    background-color: #673ab7;
    color: #fff;
  }
  
  .mat-list-item {
    color: gray;
  }
  
  .mat-list-item:hover {
    color: black;
  }
  
  .mat-list-item.active:hover {
    color: white;
  }
  
  .alert-primary>div:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .create_form {
    align-items: center;
  }
  
  .toolbar-title {
    margin: 0 auto;
  }

  .create_form {
    align-items: center;
  }
  