<div *ngIf="!isJoined" class="container" fxLayout="row" fxLayoutAlign="center center">
  <!--Start of Group/Channel Listing-->
  <mat-card fxFlex="50%" class="channel-card">
    <mat-card-header>
      <mat-card-title>Select Group</mat-card-title>
      <mat-card-subtitle>Total Groups: {{groups.length}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel *ngFor="let group of groups" [disabled]="group.channels.length == 0">
        <mat-expansion-panel-header>
          <mat-icon>group</mat-icon>
          <mat-panel-title>
            {{group.name}}
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="group.channels.length != 0">{{group.channels.length}} Channels</span>
            <span *ngIf="group.channels.length == 0">No Channels</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let channel of group.channels; index as index"
            (click)="markChannel(channel.name, index, channel._id)" [class.active]="selectedChannelIndex === index">
            <span matLine>{{channel.name}}</span>
            <mat-divider></mat-divider>
            <button mat-button matTooltip="Join {{channel.name}}"
              (click)="joinChannel(group.name, group._id, channel.name, channel._id )">
              Join
              <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
<mat-card *ngIf="isJoined" class="chat-card">
  <mat-card-header>
    <span>Members: {{membercount}}</span>
    <span class="spacer"></span>
    <small class="notice">{{channelNotice}}</small>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Leave {{selectedChannel}}" color="warn" (click)="leaveChannel()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
      <div fxFlex="20%" fxFlex.sm="95%" fxFlex.xs="95%" class="chat-members-container">
        <div class="chat-members">
          <mat-list>
            <mat-list-item *ngFor='let member of memberList'>
              <div matLine>
                <img matListAvatar src="images\{{member.avatar}}" alt="{{member.user}}">
                {{member.user}}
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      <div fxFlex></div>
      <div fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%" class="chat-container">
        <div class="chat-discussion" #chatScroll>
          <div *ngFor="let message of messages"
            [ngClass]="(message.from == username)?'chat-message left':'chat-message right'">
            <img class="message-avatar" src="images\{{message.avatar}}" alt="{{message.from}}">
            <div class="message">
              <a class="message-author">{{message.from}}</a>
              <span class="message-date">{{message.time}}</span>
              <span class="message-content">
                {{message.body}}
              </span>
            </div>
          </div>
        </div>
        <div class="chat-message-container">
          <form [formGroup]="messageForm" (ngSubmit)="chat()">
            <mat-form-field appearance="outline">
              <mat-label>Message</mat-label>
              <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="3"
                formControlName="message" placeholder="Write Message"></textarea>
              <button matSuffix mat-icon-button [disabled]="!messageForm.valid" type="submit">
                <mat-icon matTooltip="Send Message" color="primary">send</mat-icon>
              </button>
              <mat-error *ngIf="message.invalid && message.errors.maxlength">
                {{message.errors.maxlength.actualLength - 2000}} over 2000 character limit
              </mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
