.container {
  height: 90vh;
}

.spacer {
  flex: 1 1 auto;
}

:host ::ng-deep .chat-members-container .mat-list-item-content {
  padding: 0px !important;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.chat-card.mat-card {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.channel-card.mat-card {
  overflow: hidden;
  height: 80vh !important;
}

.chat-card .mat-card-content {
  max-height: 70%;
  overflow: auto;
  flex-grow: 1;
}

.channel-card .mat-card-content {
  overflow: auto;
  max-height: 80%;
}

.mat-card-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.mat-list-item:hover {
  background-color: #834de0;
  color: #fff;
}

.chat-card .mat-list-item:hover {
  background-color: #673ab7;
}

.chat-container {
  overflow-y: auto;
}

.chat-message-container {
  width: 100%;
  padding: 0;
}

form {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.chat-members-container {
  overflow-y: auto;
}

.chat-members {
  max-height: 70vh;
}

.chat-discussion {
  background: #eee;
  padding: 15px;
  overflow-y: auto;
  height: 70vh;
}

.mat-list-item.active {
  background-color: #673ab7;
  color: #fff;
}

.mat-list-item.active:hover {
  color: white;
}

.chat-message {
  padding: 10px 20px;
}

.message-avatar {
  height: 48px;
  width: 48px;
  border: 1px solid #e7eaec;
  border-radius: 4px;
  margin-top: 1px;
}

.chat-discussion .chat-message.left .message-avatar {
  float: left;
  margin-right: 10px;
}

.chat-discussion .chat-message.right .message-avatar {
  float: right;
  margin-left: 10px;
}

.chat-discussion .chat-message.right .message {
  background-color: #673ab7;
  color: #fff;
}

.message {
  background-color: #fff;
  color: #000;
  border: 1px solid #e7eaec;
  text-align: left;
  display: block;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
}

.message-author {
  font-weight: bold;
}

.chat-discussion .chat-message.left .message-date {
  float: right;
}

.chat-discussion .chat-message.right .message-date {
  float: left;
  color: #fff;
}

.chat-discussion .chat-message.left .message {
  text-align: left;
  margin-left: 55px;
}

.chat-discussion .chat-message.right .message {
  text-align: right;
  margin-right: 55px;
}

.message-date {
  font-size: 10px;
  color: #888888;
}

.message-content {
  display: block;
}
