<div class="sidenav-header">
  <mat-icon>chat</mat-icon>
  <span style="margin:0;" class="mat-display-1">ChatApp</span>
</div>
<mat-nav-list *ngIf="!__AuthService.isAuthenticated()">
  <a mat-list-item class="mat-typography">
    <mat-icon>input</mat-icon>Sign In
  </a>
</mat-nav-list>
<mat-nav-list *ngIf="__AuthService.isAuthenticated()">
  <div class="image-wrapper">
    <div class="profile-img" style="background-image: url('images/{{__AuthService.getUserDetails('avatar')}}');">
    </div>
  </div>
  <h4 class="mat-subheading-2">Logged in as {{__AuthService.getUserDetails('username')}}</h4>
  <section class="mat-typography">
    <a mat-list-item [routerLink]="'dashboard'" (click)="active = 'dashboard'" [class.active]="active === 'dashboard'">
      <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item [routerLink]="'manage-account'" (click)="active = 'manage-account'"
      [class.active]="active === 'manage-account'">
      <mat-icon>account_circle</mat-icon>Manage Account
    </a>
    <a mat-list-item [routerLink]="'manage-users'" (click)="active = 'manage-users'"
      [class.active]="active === 'manage-users'" *ngIf="roles.SuperAdmin || roles.GroupAdmin">
      <mat-icon>person</mat-icon>Manage Users
    </a>
    <a mat-list-item [routerLink]="'manage-groups'" (click)="active = 'manage-groups'"
      [class.active]="active === 'manage-groups'" *ngIf="roles.SuperAdmin || roles.GroupAdmin">
      <mat-icon>group</mat-icon>Manage Groups
    </a>
    <a mat-list-item (click)="__AuthService.logOut()" (click)="active = 'logout'" [class.active]="active === 'logout'">
      <mat-icon>exit_to_app</mat-icon>Logout
    </a>
  </section>
</mat-nav-list>
