.sidenav-header {
  padding: 20px;
  background: #834de0;
}

mat-icon {
  margin-right: 10px;
}

mat-nav-list {
  padding: 20px;
  text-align: center;
}

mat-nav-list a {
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.4s;
  background: #834de0;
  color: white;
}

mat-nav-list a:hover {
  background: #fff;
  color: #834de0;
}

.mat-list-item.active {
  background: #fff;
  color: #834de0;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}
