/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container.snackbar-error {
  font-weight: 500;
  color: rgb(255, 91, 91) !important;
}

.mat-snack-bar-container.snackbar-success {
  font-weight: 500;
  color: rgb(95, 170, 255) !important;
}

.mat-icon {
  vertical-align: middle;
}

.mat-snack-bar-container .flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.mat-list-item {
  cursor: pointer;
}