<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100%">
    <mat-card>
      <mat-card-content>
        <h2>Account Management</h2>
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
          <div fxFlex="30%" fxFlex.sm="95%" fxFlex.xs="95%" fxLayoutAlign="center center">
            <div class="account-card">
              <div class="profile_img"
                style="background-image: url('images/{{__AuthService.getUserDetails('avatar')}}');">
              </div>
              <h2 class="title">
                {{__AuthService.getUserDetails('username')}}
              </h2>
              <mat-label>
                {{__AuthService.getUserDetails('email')}}
              </mat-label>
            </div>
          </div>
          <div fxFlex></div>
          <div fxFlex="65%" fxFlex.sm="95%" fxFlex.xs="95%">
            <mat-tab-group>
              <mat-tab label="Change Password">
                <form [formGroup]="passwordForm" (submit)="changePassword()">
                  <p>Use the form below to change your password.</p>
                  <div fxLayout="row">
                    <div fxFlex="40%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%">
                      <mat-form-field>
                        <input matInput placeholder="Current Password" formControlName="currentPassword"
                          [type]="hideCurrentPassword ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
                          {{hideCurrentPassword ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <mat-error *ngIf="currentPassword.invalid && currentPassword.errors.minlength">
                          6 Characters Minimum
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="New Password" formControlName="newPassword"
                          [type]="hideNewPassword ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
                          {{hideNewPassword ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <mat-error *ngIf="newPassword.invalid && newPassword.errors.minlength">
                          6 Characters Minimum
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Confirm New Password" formControlName="newPasswordConfirm"
                          [type]="hideNewPassword ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
                          {{hideNewPassword ? 'visibility' : 'visibility_off'}}
                        </mat-icon>
                        <mat-error *ngIf="newPasswordConfirm.invalid && newPasswordConfirm.errors.passwordMatch">
                          Password mismatch
                        </mat-error>
                      </mat-form-field>
                      <mat-error *ngIf="errormsg">{{errormsg}}</mat-error>
                      <button mat-raised-button color="primary" [disabled]="passwordForm.invalid"
                        type="submit">Save</button>
                    </div>
                  </div>
                </form>
              </mat-tab>
              <mat-tab label="Change Avatar">
                <form>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" (click)="onUpload()">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" (change)="onFileSelected($event)">
                      <label class="custom-file-label"></label>
                    </div>
                  </div>
                </form>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
