.container {
  padding-top: 20px;
}

.mat-card {
  height: 80vh;
  overflow: hidden;
}

.mat-card-content {
  max-height: 100%;
  overflow: auto;
}

.account-card {
  text-align: center;
}

.profile_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}
